var merge = require('webpack-merge')
var prodEnv = require('./prod.env')

module.exports = merge(prodEnv, {
  NODE_ENV: '"development"',
  ALGOLIA_APP_ID: '""',
  ALGOLIA_API_KEY: '""',
  TMZDB_KEY: '""',
  NASA_API_KEY: '""'
})
